/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #01043f;

}

/* Estilos de la navegación */
.navbar {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

.nav-item-active {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: white;
}

/* Estilos del contenido principal */
.main-content {
    flex: 1;
}

/* Tarjetas */
.nav-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 64px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 32px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
}

.nav-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.nav-card i {
    font-size: 48px;
    margin-bottom: 16px;
    color: #17275f;
}

.nav-card h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #17275f;
}

.nav-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
/*  */


/* Estilos del footer */
.footer {
    background-color: #000000;
    color: white;
    padding: 2rem 0;
}

.footer-bottom {
    text-align: center;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Responsive */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
    }

    .nav-menu.active {
        left: 0;
        display: flex;
    }

    .nav-menu li {
        margin: 16px 0;
    }

    .hamburger {
        display: block;
    }

    .slider {
        height: 300px;
    }
    
    .prev, .next {
        padding: 8px;
        font-size: 14px;
    }

    .nav-cards {
        grid-template-columns: 1fr;
        padding: 32px 16px;
    }
}

